@import "~/.config/rofi/theming.rasi"

configuration {
    show-icons: true;
    drun-display-format: "{name}";
    display-drun: "Apps";
}

window {
    width: 600px;
    padding: 16px;

    location: center;
    anchor: center;
}

mainbox {
    spacing: 12px;
}

inputbar {
    spacing: 8px;
    children: [ prompt, entry ];
}

prompt {
    padding: 0;
}

entry {
    placeholder: "Search...";
    placeholder-color: @foreground;
}

listview {
    background-color: transparent;

    lines: 8;
    columns: 1;

    spacing: 10px;
    scrollbar: false;
}

element { 
    background-color: transparent;
    text-color: @foreground;

    padding: 8px 10px;
    spacing: 8px;
}

element normal.normal {
    background-color: transparent;
}

element alternate.normal {
    background-color: transparent;
}

element selected.normal {
    background-color: @foreground;
    text-color: @background;
}

element selected {
    border-radius: 4px;
}
