# Autostart
exec-once = awww-daemon
exec-once = hypridle

exec-once = waybar
exec-once = dunst 

# Get active wallpaper on boot
exec-once = "/home/finn/.config/scripts/wallpaper.sh"

{{- if eq .device "krabby" }}
# This is only for my guitar interface
# exec-once = "/home/finn/.config/scripts/guitar-loopback.sh"
{{ end -}}

# Set dark mode and remote button layouts
exec = gsettings set org.gnome.desktop.interface color-scheme "prefer-dark"
exec = gsettings set org.gnome.desktop.wm.preferences button-layout ':' 
