-- Input
-- Keyboard and touchpad settings
hl.config({
    input = {
        kb_layout = "de",
        resolve_binds_by_sym = true,
        kb_variant = "",
        kb_model = "",
        kb_options = "",
        kb_rules = "",

        follow_mouse = 1,

        {{- if eq .device "bartmoss" }}
        sensitivity = -0.5,
        {{- end}}
        {{- if eq .device "kabuki" }}
        sensitivity = 0,

        touchpad = {
            natural_scroll = true
        }
        {{- end }}
    }
})

hl.device({
  name = "keychron-k3-pro-keyboard",
  kb_layout = "us",
  kb_variant = "altgr-intl",
})

{{- if eq .device "kabuki" }}
-- Gestures
hl.gesture({
    fingers = 3,
    direction = "horizontal",
    action = "workspace"
})
{{- end }}
