# Input
# Keyboard and touchpad settings
input {
    kb_layout = de
    kb_variant = ,qwertz
    kb_model =
    kb_options =
    kb_rules =

    follow_mouse = 1

    {{ if eq .device "krabby" -}}
    sensitivity = -0.5
    {{- end -}}
    {{- if eq .device "kabuki" -}}
    sensitivity = 0

    touchpad {
        natural_scroll = true
    }
    {{- end }}
}

{{- if eq .device "kabuki" -}}
# Gestures
gesture = 3, horizontal, workspace
{{- end }}
