-- Input
-- Keyboard and touchpad settings
hl.config({
    input = {
        {{- if eq .device "kabuki" }}
        kb_layout = "de",
        {{- end }}
        {{- if eq .device "bartmoss" }}
        kb_layout = "us",
        {{- end }}
        kb_variant = "",
        kb_model = "",
        kb_options = "",
        kb_rules = "",

        follow_mouse = 1,

        {{- if eq .device "bartmoss" }}
        sensitivity = -0.5,
        {{- end}}
        {{- if eq .device "kabuki" }}
        sensitivity = 0,

        touchpad = {
            natural_scroll = true
        }
        {{- end }}
    }
})

{{- if eq .device "kabuki" }}
-- Gestures
hl.gesture({
    fingers = 3,
    direction = "horizontal",
    action = "workspace"
})
{{- end }}
