import QtQuick
import Quickshell
import Quickshell.Io
import QtQuick.Layouts
import Quickshell.Wayland

import qs.singletons
import qs.modules.widgets

Scope {
    id: root

    PanelWindow {
        id: bar

        // This is needed so widgets can be focused for the keyboard
        WlrLayershell.keyboardFocus: WlrKeyboardFocus.OnDemand

        property int margin: 4

        color: "transparent"

        anchors.top: true
        margins.top: margin

        implicitHeight: Globals.barHeight
        implicitWidth: 1920 - margin * 2

        WlogoutWidget {}
        MediaWidget {
            id: media
        }

        RowLayout {
            id: layout

            anchors.fill: parent

            Row {
                spacing: 4

                TimeWidget {}
                WorkspaceWidget {}
                InhibitorWidget {}
                PowerWidget {}
                TrayWidget {}
            }

            Item {
                Layout.fillWidth: true
            }

            Row {
                spacing: 4

                UpdateWidget {}

		{{- if eq .device "kabuki"}}
		BatteryWidget {}
		{{ end -}}

                NetworkWidget {}
                VolumeWidget {}
                SystemWidget {}
            }
        }
    }
}
