import QtQuick
import Quickshell
import QtQuick.Layouts
import Quickshell.Wayland

import qs.singletons
import qs.modules.statusbar

Scope {
    id: root

    PanelWindow {
        id: statusbar

        // This is needed so widgets can be focused for the keyboard
        WlrLayershell.keyboardFocus: WlrKeyboardFocus.OnDemand

        color: Colors.background

        anchors {
            bottom: true
            left: true
            right: true
        }

        visible: Globals.statusbarVisible

        implicitWidth: 1920
        implicitHeight: Globals.barHeight / 1.25

        RowLayout {
            id: layout

            anchors.fill: parent

            Row {
                leftPadding: 12

                WorkspaceWidget {}
                TimeWidget {}
                InhibitorWidget {}
                PowerWidget {}
                BluetoothWidget {}
                UpdateWidget {}
            }

            Item {
                Layout.fillWidth: true
            }

            Row {
                rightPadding: 12

                TrayWidget {}
                VirtualWidget {}
                NetworkWidget {}
                VolumeWidget {}
                ProcessorWidget {}
                GraphicsWidget {}
                MemoryWidget {}
                RootDiskWidget {}
                HomeDiskWidget {}
                WlogoutWidget {}
            }
        }
    }
}

