import QtQuick
import Quickshell
import QtQuick.Layouts
import Quickshell.Wayland

import qs.singletons
import qs.modules.statusbar

Scope {
    id: root

    PanelWindow {
        id: statusbar

        // This is needed so widgets can be focused for the keyboard
        WlrLayershell.keyboardFocus: WlrKeyboardFocus.OnDemand

        color: Colors.background

        anchors.bottom: true

        visible: Globals.statusbarVisible

        implicitWidth: 1920
        implicitHeight: Globals.barHeight / 1.25

        WlogoutWidget {
            haftung: statusbar
        }

        RowLayout {
            id: layout

            anchors.fill: parent

            Row {

                WorkspaceWidget {}
                TimeWidget {}
                InhibitorWidget {}
                PowerWidget {}
                SystemWidget {}
                {{- if eq .device "kabuki" }}
                BatteryWidget {}
                {{ end -}}
                UpdateWidget {}
            }

            Item {
                Layout.fillWidth: true
            }

            Row {

                NetworkWidget {}
                VolumeWidget {}
                ProcessorWidget {}
                GraphicsWidget {}
                MemoryWidget {}
                RootDiskWidget {}
                HomeDiskWidget {}
            }
        }
    }
}
